<form (ngSubmit)="submitEntry()" action="">

  <div class="input-group">
    <p>
      <label for="initial">initial investment</label>
      <input [(ngModel)]="initialInvestment" id="initial" type="number" name="initial">
    </p>
    <p>
      <label for="annual">annual investment</label>
      <input [(ngModel)]="annualInvestment" id="annual" type="number" name="annual">
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="return">expected return</label>
      <input [(ngModel)]="expectedReturn" id="return" type="number" name="return">
    </p>
    <p>
      <label for="duration">DURATION</label>
      <input [(ngModel)]="duration" id="duration" type="number" name="duration">

    </p>
  </div>
  <p>
  <button (click)="onCalculate()">Calculate</button>
  </p>
</form>
